[submodule "External Repositories/deblatting_python"]
	path = External Repositories/deblatting_python
	url = https://github.com/rozumden/deblatting_python.git
[submodule "External Repositories/DeFMO"]
	path = External Repositories/DeFMO
	url = https://github.com/rozumden/DeFMO.git
[submodule "External Repositories/sort"]
	path = External Repositories/sort
	url = https://github.com/abewley/sort
